.fa-rotate-45 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.animate {
    -webkit-transition: a 0.5s ease-in;
    -moz-transition: a 0.5s ease-in;
    -o-transition: a 0.5s ease-in;
    -ms-transition: a 0.5s ease-in;
    transition: a 0.5s ease-in;
    overflow-x: hidden;
}

@keyframes a {
    0% {
        margin-left: 80%;
    }
    100% {
        margin-left: 0%;
    }
}

.animate:hover {
    box-shadow: 0 8px 26px 0 rgba(10, 10, 10, 10.2);
    cursor: pointer;
}

.animate-slow {
    animation: ab 0.5s forwards;
}

@keyframes ab {
    0% {
        margin-left: 80%;
    }
    100% {
        margin-left: 45%;
    }
}

.animate-slows {
    animation: abc 0.5s 1 forwards;
}

@keyframes abc {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: 86%;
    }
}

.mobanimate {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    overflow-x: hidden;
    display: block;
}

#outerbox {
    width: 90%;
    overflow: hidden;
}


/* / animation for div /  */

.ani {
    animation: move 1s ease;
    width: 80%;
}

@keyframes move {
    0% {
        left: 35%;
    }
    100% {
        left: 4%;
    }
}

.ani-active {
    animation: move2 1s ease;
}

@keyframes move2 {
    0% {
        left: 0%;
    }
    100% {
        left: 4%;
    }
}

table {
    margin: 0 auto;
}

table td {
    padding: 1rem;
}


/* Animation for mobile  */

.mobani {
    /* animation: action 1s alternate; */
    -webkit-animation: dudeani 1s 1 forwards;
    -moz-animation: dudeani 1s 1 forwards;
    -o-animation: dudeani 1s 1 forwards;
    animation: dudeani 1s 1 forwards;
}

@keyframes dudeani {
    0% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

.mobani-active {
    -webkit-animation: dude 1s 1 backwards;
    -moz-animation: dude 1s 1 backwards;
    -o-animation: dude 1s 1 backwards;
    animation: dude 1s 1 backwards;
    /* animation-direction: reverse; */
}

@keyframes dude {
    0% {
        width: 100%;
    }
    100% {
        width: 80%;
    }
}

.optional:hover {
    box-shadow: 0 8px 8px 0 rgba(10, 10, 10, 10.2);
    cursor: pointer;
}