<div id="desktop">
    <!-- slider -->
    <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/banner/1-Banner.png" alt="Los Angeles" width="100%" height="811px">
                <div class="carousel-caption">
                    <img src="../assets/logo.png" style="width:200px; height:50px; padding: 10px 0px 0px 40px;margin-top: 20px;float: left;">
                    <mat-tab-group (selectedTabChange)="clickFunc($event)">
                        <mat-tab label="HOME"></mat-tab>
                        <mat-tab label="ABOUT US"></mat-tab>
                        <mat-tab label="SERVICES"></mat-tab>
                        <mat-tab label="TESTIMONIALS"></mat-tab>
                        <mat-tab label="CONTACT US"></mat-tab>
                    </mat-tab-group>

                    <div class="row">
                        <div style="float: left;margin-top:10%;color: white;margin-left: -15%;">
                            <div style="font-size:43px;font-family:Rbold;float: left;">Are you tired of </div><br>
                            <div style="font-size:16px; font-family:Rlight;margin-top: 20px;padding:0px !important;text-align: justify; float: left;line-height:20px;">
                                <li><span style="margin-left:1%;"></span>Looking for Domestic Help often.</li> <br>
                                <li><span style="margin-left:1%;"></span>Placement Agency exploitation and their exorbitant charges.</li> <br>
                                <li><span style="margin-left:1%;"></span>Absenteeism,Unorganised Wage Structure, Trust, Discipline.</li>
                                <br><br> If you answered YES to any of these, You need a trusted partner.
                                <div style="margin-top:15%;font-family:Rbold ;">Download Now</div>
                                <div style="margin-top:20px;">
                                    <a href=""><img src="../assets/play store.png" style="margin-right:10px;"></a>
                                    <a href=""><img src="../assets/app store.png" style=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/website banner/2 banner.png" alt="Chicago" width="100%" height="811px">
                <div class="carousel-caption">
                    <img src="../assets/logo.png" style="width:200px; height:50px; padding: 10px 0px 0px 40px;margin-top: 20px;float: left;">
                    <mat-tab-group (selectedTabChange)="clickFunc($event)">
                        <mat-tab label="HOME"></mat-tab>
                        <mat-tab label="ABOUT US"></mat-tab>
                        <mat-tab label="SERVICES"></mat-tab>
                        <mat-tab label="TESTIMONIALS"></mat-tab>
                        <mat-tab label="CONTACT US"></mat-tab>
                    </mat-tab-group>
                    <div class="row">
                        <div style="float: left;margin-top:10%;color: white;padding: 0px; float: left;margin-left: -15%;">
                            <div style="font-size:43px;font-family:Rbold;float: left;">Domestic help need love & care
                            </div>
                            <div class="col-6" style="font-size:16px; font-family:Rlight;margin-top: 20px;padding:0px !important;text-align: justify; float: left;line-height:20px;">
                                <li><span style="margin-left:1%;"></span>They need dignified wages, social security & support.</li> <br>
                                <li><span style="margin-left:1%;"></span>They need compassion & trust.</li> <br>
                                <li><span style="margin-left:1%;"></span>They need to be heard & empowered.</li> <br><br> If you ECHO the same, You need a trusted partner.
                                <br>

                                <div style="margin-top:15%;font-family:Rbold ;">Download Now</div>
                                <div style="margin-top:20px;">
                                    <a href=""><img src="../assets/play store.png" style="margin-right:10px;"></a>
                                    <a href=""><img src="../assets/app store.png" style=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/website banner/3 banner.png" alt="New York" width="100%" height="811px">
                <div class="carousel-caption">
                    <img src="../assets/logo.png" style="width:200px; height:50px; padding: 10px 0px 0px 40px;margin-top: 20px;float: left;">
                    <mat-tab-group (selectedTabChange)="clickFunc($event)">
                        <mat-tab label="HOME"></mat-tab>
                        <mat-tab label="ABOUT US"></mat-tab>
                        <mat-tab label="SERVICES"></mat-tab>
                        <mat-tab label="TESTIMONIALS"></mat-tab>
                        <mat-tab label="CONTACT US"></mat-tab>
                    </mat-tab-group>
                    <div class="row">
                        <div style="float: left;margin-top:10%;color: white;padding: 0px; float: left;margin-left: -15%;">
                            <div style="font-size:43px;font-family:Rbold;float: left;">Your trusted partner</div>
                            <div style="font-size:16px; font-family:Rlight;margin-top: 20px;padding:0px !important;text-align: justify; float: left;margin-right: 29%;line-height:25px;line-height:20px; ">
                                MaidsnCar™ through compassion and technology will ease the problem of both Customer and <br>Service Provider, by partnering a vision to build a NEW INDIA.<br><br> COMING SOON
                                <div style="margin-top:20%;font-family:Rbold ;">Download Now</div>
                                <div style="bottom:20px;margin-top:20px;">

                                    <a href=""><img src="../assets/play store.png" style="margin-right:10px;"></a>
                                    <a href=""><img src="../assets/app store.png" style="margin-right:10px;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a> -->
    </div>








    <div id="about" class="row" style="margin-top:3%;">
        <div class="col-6">
            <img src="../assets/about us/aboutus.png" style="height:610px; width:auto;padding-right:40px; padding:30px;">
        </div>
        <div class="col-6" style="margin-top:10%;padding:0px 100px 0px 60px;">
            <div style="font-size:18px;font-family:Rlight;line-height: 27px;padding-right: 44px;text-align: justify;">MaidsnCar™ is conceptualised to ease the most perennial issue of every Household - Community - Service provider. Idea envisages a smart solution with a 360 degree impact to all the stakeholders, thus creating a happy work culture and a major
                social impact.
                <div style="font-size:16px;font-family:Rlight;text-align: justify;margin-top: 5%;line-height: 25px;color: gray; ">
                    Our Vision is to transform the most unorganised sector with Compassion & Technology.
                </div>
            </div>


            <br><br><br>

            <button type="button" *ngIf="false" class="btn-lg" icon="" style="color:white;  background-image: linear-gradient(to top, #ff4c01, #dd8b67);border-radius:35px;width: 250px;-webkit-appearance: caret;border:transparent;height: 50px;margin-top:-8%;"><i class="fa fa-play" aria-hidden="true" style="right:20px;font-size: 14px;"></i>Learn More</button>

        </div>
    </div>




    <div class="row" style="width:100%;">

        <table rules="all" style="border-color: #d5d5d5;">
            <tr style="">
                <td style="padding:20px 20px  20px 0px;">
                    <div><img src="../assets/group/Group 25.png" style="width:75 !important;height:75 !important;">

                        <div style="font-size:24px;margin-left:30%;margin-top:-25%;margin-bottom:5%;">Manage your Staff
                            <div style="font-size:16px;color:gray;margin-top:5%;"> Simplified Search – Track - Connect </div>
                        </div>
                    </div>
                </td>

                <td style="padding:20px 20px  20px 20px;">
                    <div><img src="../assets/group/Group 26.png" style="width:75 !important;height:75 !important;">
                        <div style="font-size:24px;margin-left:28%;margin-top:-21%;margin-bottom:5%;"> Back up/<br>Replacement
                            <div style="font-size:16px;color:gray;margin-top:5%;">Free Replacement – Instant Back Up option </div>
                        </div>
                    </div>
                </td>

                <td style="padding:20px 20px  20px 20px;">
                    <div><img src="../assets/group/Group 27.png" style="width:75 !important;height:75 !important;">

                        <div style="font-size:24px;margin-left:33%;margin-top:-25%;margin-bottom:10%;">Security & Reliability
                            <div style="font-size:16px;color:gray;margin-top:5%;">Staff authentication - Stringent verification</div>
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td style="padding:20px 20px  20px 0px;">
                    <div><img src="../assets/group/Group 28.png" style="width:75 !important;height:75 !important;">

                        <div style="font-size:24px;margin-left:30%;margin-top:-23%;margin-bottom:5%;">Digital Payment
                            <div style="font-size:16px;color:gray;margin-top:5%;"> No Cash – Multiple Optons – Track Expense</div>
                        </div>
                    </div>
                </td>

                <td style="padding:20px 20px  20px 20px;">
                    <div><img src="../assets/group/Group 29.png" style="width:75 !important;height:75 !important;">

                        <div style="font-size:24px;margin-left:28%;margin-top:-22%;margin-bottom:5%;">Social Welfare
                            <div style="font-size:16px;color:gray;margin-top:5%;">Social Impact, that’s our Vision.</div>
                        </div>
                    </div>
                </td>

                <td style="padding:20px 20px  20px 20px;">
                    <div><img src="../assets/group/Group 30.png" style="width:75 !important;height:75 !important;">

                        <div style="font-size:24px;margin-left:32%;margin-top:-24%;margin-bottom:14%;">Customer Care
                            <div style="font-size:16px;color:gray;margin-top:5%;">Dedicated Community Manager
                            </div>
                        </div>
                    </div>
                </td>

            </tr>
        </table>
    </div>



    <div id="how" class="row" style="margin-top:5%;background-image: url(../assets/pattern.png);">
        <div style="font-family:Mlight;font-size: 43px;margin-left: auto;margin-right: auto;">How does it work</div>
    </div>

    <div class="row" style="background-image: url(../assets/pattern.png);">

        <div class="col" style="">
            <div style="background-color:#ffffff;height:355px; width:300px;padding:20px;text-align: center;border-radius:10px;  box-shadow: 0px 1px 3px rgba(112, 107, 107, 0.705) inset, 0px 0px 8px rgba(112, 107, 107, 0.705);margin-top: 10%;margin-left: auto;margin-right:-20px;margin-bottom:8%;">
                <img src=" ../assets/how/First step.png" style="width: 200px; height:200px;">
                <div style="margin-top:25px;font-size:26px;font-family: Mlight;">First Step</div>
                <div style="color:gray;">Register your details</div>
            </div>
        </div>

        <div class="col">
            <div style="background-color:#ffffff;height:355px; width:300px;padding:20px;text-align: center;border-radius:10px;  box-shadow: 0px 1px 3px rgba(112, 107, 107, 0.705) inset, 0px 0px 8px rgba(112, 107, 107, 0.705);margin-top: 10%;margin-left: auto;margin-right:auto;">
                <img src=" ../assets/how/Group 23.png" style="width: 200px; height:200px;">
                <div style="margin-top:25px;font-size:26px;font-family: Mlight;">Second Step</div>
                <div style="color:gray;">Link your Domestic Help</div>
            </div>
        </div>

        <div class="col">
            <div style="background-color:#ffffff;height:355px; width:300px;padding:20px;text-align: center;border-radius:10px;  box-shadow: 0px 1px 3px rgba(112, 107, 107, 0.705) inset, 0px 0px 8px rgba(112, 107, 107, 0.705);margin-top: 10%;margin-left: -20px;margin-right:auto;">
                <img src=" ../assets/how/Group 24.png" style="width: 200px; height:200px;">
                <div style="margin-top:25px;font-size:26px;font-family: Mlight;">Third Step</div>
                <div style="color:gray;">Define Service Category & <br>Payment terms</div>
            </div>
        </div>
    </div>





    <div id="services" class="row" style="margin-top:6%;">
        <div class="col-5" style="margin-left:40px;margin-top: 4%;">
            <div style="color:orangered;font-size:25px;">Services</div>
            <div style="font-size:43px;font-family:Mlight;margin-bottom:10px;line-height:43px;margin-top: 5%;line-height: 50px;">We help you to manage</div>
            <div style="text-align:justify;margin-top: 5%;margin-right: 21%;">
            </div>
            <div style="margin-top:5%;">
                <button type="button " class="btn-lg " icon=" " style="color:grey; background-color: transparent; border-color:gray !important;border-radius:34px;border:1px solid grey;width: 55px;height:55px;position: absolute; cursor: pointer;
            " (click)="b1Click()"><img src="../assets/arrow/arrow left.png" style="width:19px;"></button>

                <button type="button " class="btn-lg " icon=" " style="color:grey;  background-image: linear-gradient(to top, #ff4c01, #e07f55);border-radius:34px;border:1px solid orangered; margin-left: 12%;width: 55px;height:55px;position: absolute; cursor: pointer;
            " (click)="b2Click()"><img src="../assets/arrow/arrow right.png" style="width: 19px;"></button>

            </div>

        </div>
        <div class="col-6" style="padding:0px !important;display:block;">
            <div style="background-image: linear-gradient(to top, #ff4c01, #dd8b67); width: 115%;height:230px;">
                <div style="height: 280px;width: 240px;top: 10%;">
                    <div id="view1" [style.display]="disp1" [style.margin-left]="obj1" style="background-color:#ffffff;height:280px; width:240px;padding:20px;text-align: center;border-radius:10px;  box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 10%;position: absolute;">
                        <img src=" ../assets/maids.png " style="width: 173px; height:173px;">
                        <div style="margin-top:25px;font-size:26px;font-family: Mlight;">Maids</div>
                    </div>

                    <div id="view2" [style.display]="disp2" [style.margin-left]="obj2" style="background-color:#FFFFFF;height:280px; width:240px;padding:20px;text-align: center;border-radius:10px;box-shadow:0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 10%;position: absolute;">
                        <img src=" ../assets/cook.png " style="width: 173px; height:173px;">
                        <div style="margin-top:25px;font-size:26px;font-family: Mlight;">Cook</div>
                    </div>

                    <div id="view3" [style.display]="disp3" [style.margin-left]="obj3" style="background-color:#FFFFFF;height:280px; width:240px;padding:20px;text-align: center;border-radius:10px;box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 10%;position: absolute;">
                        <img src=" ../assets/cleaner.png" style="width: 173px; height:173px;">
                        <div style="margin-top:25px;font-size:26px;font-family: Mlight;">Cleaner</div>
                    </div>


                    <div id="view4" [style.display]="disp4" [style.margin-left]="obj4" style="background-color:#FFFFFF;height:280px; width:240px;margin-top:10%;padding:20px;text-align: center;border-radius:10px;box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);position: absolute;">
                        <img src=" ../assets/child care.png" style="width: 173px; height:173px;">
                        <div style="margin-top:25px;font-size:26px;font-family: Mlight;">Child Care</div>
                    </div>
                    <div id="view5" [style.display]="disp5" [style.margin-left]="obj5" style="background-color:#FFFFFF;height:280px; width:240px;margin-top:10%;padding:20px;text-align: center;border-radius:10px;box-shadow:0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);position: absolute;">
                        <img src=" ../assets/car cleaner.png" style="width: 173px; height:173px;">
                        <div style="margin-top:25px;font-size:26px;font-family: Mlight;">Car Cleaner</div>
                    </div>

                    <div id="view6" [style.display]="disp6" [style.margin-left]="obj6" style="background-color:#FFFFFF;height:280px; width:240px;margin-top:10%;padding:20px;text-align: center;border-radius:10px;box-shadow: 0px 1px 3px rgba(112, 107, 107, 0.705) inset, 0px 0px 8px rgba(112, 107, 107, 0.705);position: absolute;position: absolute;">
                        <img src=" ../assets/Elder Care.png" style="width: 173px; height:173px;">
                        <div style="margin-top:25px;font-size:26px;font-family: Mlight;">Elder Care</div>
                    </div>


                </div>

            </div>
        </div>
    </div>


    <!-- 🏼  🏼-->




    <div class="row" style="background-image: url('../assets/pattern.png');margin-bottom:3%;margin-top:15%;height: 60vh;">
        <div style="font-size:43px;width:100%;margin-bottom:0%;text-align: center;font-family: Mlight;">Optional Feature</div>
        <div class="col-4" style="">
            <div class="optional" style="background-color:#ffffff;height:250px; width:350px;padding:20px;border-radius:10px; box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 5%;margin-left:auto;margin-right:-20px; padding:20px;">
                <button style="background-image: linear-gradient(to top, #ff4c01, #e07f55);border-radius:34px;border:1px solid orangered; width: 65px;height:65px;margin-top:5%; color: white; font-family: Rbold;font-size: 32px;">1</button>
                <div style="margin-top:25px;font-size:26px;font-family: Mlight;margin-left: 28%;margin-top: -20%; ">Organise Wage Structure
                    <div style="font-size:16px;color:gray;margin-top:5%;">Partner with RWA / FM to manage.</div>
                </div>

            </div>
        </div>

        <div class="col-4" style=" ">
            <div class="optional" style="background-color:#ffffff;height:250px; width:350px;padding:20px;border-radius:10px; box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 5%;margin-left:auto;margin-right:auto; padding:20px;">
                <button style="background-image: linear-gradient(to top, #ff4c01, #e07f55);border-radius:34px;border:1px solid orangered; width: 65px;height:65px;margin-top:5%;color: white;font-family: Mbold; font-size: 32px; ">2</button>
                <div style="margin-top:25px;font-size:26px;font-family: Mlight;margin-left: 28%;margin-top: -20%; ">Additional Social Security
                    <div style="font-size:16px;color:gray;margin-top:5%;">You have dedicated / Live in manpower , We have a plan.</div>
                </div>

            </div>
        </div>

        <div class="col-4" style=" ">
            <div class="optional" style="background-color:#ffffff;height:250px; width:350px;padding:20px;border-radius:10px; box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 5%;margin-left:-20px;margin-right:auto; padding:20px;">
                <button style="background-image: linear-gradient(to top, #ff4c01, #e07f55);border-radius:34px;border:1px solid orangered; width: 65px;height:65px;margin-top:5%;color: white;font-family:Rbold;font-size: 32px; ">3</button>
                <div style="margin-top:25px;font-size:26px;font-family: Mlight;margin-left: 28%;margin-top: -20%; "> Medical Verification
                    <div style="font-size:16px;color:gray;margin-top:5%;">For Special Care , We help you meet the demand.</div>
                </div>

            </div>
        </div>

    </div>





    <div id="test" class="row " style="background-image:url(../assets/testimonial.png); width: 90%;height:250px; margin-top:0%;padding: 20px 20px 20px 40px; color: white; ">


        <div class="ani" [style.display]="t1" id="idt1" style="font-size:16px;font-family:Mbold;position: absolute; margin-top:2%;">
            TESTIMONIALS
            <div style="font-family:Mlight; font-size: 43px;margin-top:2%;">
                We Have Just Arrived to create a HISTORY…….
            </div>
            <div *ngIf="false" style="font-family:Mlight; font-size:16px;text-align: justify;margin-right: 30%; ">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.

            </div>
            <div *ngIf="false" style="font-family:Rbold; font-size:16px;margin-top: 20px; ">
                -SPIROS HALIRAS
            </div>
        </div>

        <div *ngIf="false" class="ani" [style.display]="t2" id="idt2" style="font-size:16px;font-family:Mbold; position: absolute; ">
            TEST 2
            <div style="font-family:Mlight; font-size: 43px; color: white;">
                Our Customer Says
            </div>
            <div style="font-family:Mlight; font-size:16px;text-align: justify;margin-right: 30%; ">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and

            </div>
            <div style="font-family:Rbold; font-size:16px;margin-top: 20px; ">
                -SPIROS HALIRAS
            </div>
        </div>

        <div *ngIf="false" class="ani" [style.display]="t3" id="idt3" style="font-size:16px;font-family:Mbold; position: absolute; ">
            MONIALS 3
            <div style="font-family:Mlight; font-size: 43px; color: white;">
                Our Customer Says
            </div>
            <div style="font-family:Mlight; font-size:16px;text-align: justify;margin-right: 30%; ">
                industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </div>
            <div style="font-family:Rbold; font-size:16px;margin-top: 20px; ">
                -SPIROS HALIRAS
            </div>
        </div>



        <div *ngIf="false" style="float:right; margin-left: 70%; margin-top:20%;position: absolute; ">
            <button (click)="testBackwardClick() " type="button " class="btn-lg " icon=" " style="color:grey; background-color: transparent; border-color:white !important;border-radius:34px;margin-right:20px;border:1px solid
            grey;width: 55px;height: 55px;cursor: pointer; "><img src="../assets/arrow/white left.png " style="width: 19px; "></button>

            <button (click)="testForwardClick() " type="button " class="btn-lg " icon=" " style="color:white; background-color: white;border-radius:34px; border: 1px solid white;width: 55px;height: 55px; cursor: pointer;
            "><img src="../assets/arrow/orange right.png " style="width:19px; "></button>
        </div>

    </div>




    <div class="row " style="background-color:black;color:white; height:350px;width:100%; margin-top: 10%; padding:20px 20px 0px 20px; ">
        <div class="col-4 ">
            <div style="font-size:24px;font-family:Rbold; ">Contact Us</div>
            <div style="color:gray; font-family: Mlight;font-size: 14px;margin-top: 20px; ">

                <div><i class="fa fa-phone fa-rotate-45 " style="margin-right:5%; "></i>Call - 8589641201</div>
                <div><i class="fas fa-envelope " style="margin-right:5%; "></i>Email - Letsconnect@maidsncar.com</div>
                <div><i class="fas fa-map-marker-alt " style="margin-right:5%; "></i>
                    <div style="    margin-left: 8%;margin-top: -5%;">Address -Corporate Office 439,4th floor, Vipul Trade Center,Sector-48,Sohna Road, Haryana - 122018</div>
                </div>
            </div>
        </div>


        <div class="" style="width:200px;height:200px;">
            <div style="font-size:24px;font-family:Rbold; ">Links</div>
            <div style="color: gray;font-size: 14px;font-family: Mlight; margin-top: 20px; ">
                <div> Home</div>
                <div>About Us</div>
                <div>Services</div>
                <div>Testimonials</div>
                <div>Contact Us</div>
            </div>

        </div>


        <div style=" width: 560px;height:300px;float:right;padding:20px;margin-top: -100px;margin-left: 5%; ">
            <p-card>
                <div style="font-family:Rbold;font-size:34px;float: left;width: 100%;">
                    Contact Us
                </div>
                <div>
                    <form>
                        <div style="max-width:250px;width:50%;float: left;">

                            <select style="margin-top:10px;min-width:200px;max-width: 225px;width: 100%;font-size:14px;padding: 10px;outline: none;border: 1px solid #d5d5d5;border-radius: 5px;background-color: white;color: #333333;font-family: Rlight;" placeholder="Reason to ">
                            <option value="Reason for Contacting">Reason for Contacting</option>
                                        <option value="a">I am looking for new Domestic Help</option>
                                        <option value="b">I have a complaint</option>
                                        <option value="c">I need a replacement</option>
                                        <option value="d">We are the RWA/Facility Management Company/ Society and want to connect with you</option>
                                        <option value="e">I am a Maid agency / Placement agency and want to have a tie up with you</option>
                                        <option value="f">Other Assistance</option>
                            </select>

                            <input type="text " style="margin-top:10px;min-width:200px;max-width: 225px;width: 100%;font-size:14px;padding: 10px;outline: none;border: 1px solid #d5d5d5;border-radius: 5px;color: #333333;font-family: Rlight; " formControlName="email " placeholder="Email ">
                            <input type="text " style="margin-top:10px;min-width:200px;max-width: 225px;width: 100%;font-size:14px;padding: 10px;outline: none;border: 1px solid #d5d5d5;border-radius: 5px;color: #333333;font-family: Rlight; " formControlName="phoneno " placeholder="Mobile Number">

                            <select style="margin-top:10px;min-width:200px;max-width: 225px;width: 100%;font-size:14px;padding: 10px;outline: none;border: 1px solid #d5d5d5;border-radius: 5px;background-color: white;color: #333333;font-family: Rlight;">
                                        <option value="City">City</option>
                                    <option value="DELHI">DELHI</option>
                                    <option value="UP">Uttar Pradesh</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Uttrakhand">Uttrakhand</option>
                                  </select>
                        </div>

                        <div class="min-width:200px;max-width:250px;width:50%;float:right;">

                            <input type="text " style="margin-top:10px;min-width:200px;max-width: 225px;width: 100%;font-size:14px;padding: 10px;outline: none;border: 1px solid #d5d5d5;border-radius: 5px; margin-left: 0%;color: #333333;font-family: Rlight;" formControlName="name "
                                placeholder="Name ">
                            <textarea type="text " style="margin-top:10px;min-width:200px;max-width: 225px;width: 100%;font-size:14px;padding: 10px;outline: none;border: 1px solid #d5d5d5;border-radius: 5px; min-height: 140px;max-height: 200px; margin-left: 0%;color: #333333;font-family: Rlight;"
                                rows="6" cols="6" formControlName="message" placeholder="Message "></textarea>
                        </div>

                        <button type="button " (click)="send()" style="margin-top:5%;min-width:400px;max-width: 560px;width: 100%;background-image: linear-gradient(to top, #ff4c01, #e07f55);border-radius:6px;font-size: 16px; padding:10px; border:1px solid orangered;color: white;font-family: Rlight;">SEND</button>
                    </form>
                </div>


            </p-card>
        </div>


        <div style="color:grey; ">
            <div style="border:0.6px solid gray;width: 600px; ">

            </div>

            <div id="contact" style="font-size:20px; margin-top: 40px; ">
                Social Media :
                <i class=" fab fa-facebook-f " style=" margin-left:20px; "></i>
                <i class="fab fa-linkedin-in " style="margin-left:20px; "></i>
                <i class="fab fa-google-plus-g " style="margin-left:20px; "></i>
                <i class="fab fa-twitter " style="margin-left:20px; "></i>
            </div>
        </div>
    </div>
    <!-- <p-toast [style]="{marginTop: '80px'} " position="top-right " key="tc "></p-toast> -->
</div>






























<div id="mobile">
    <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/banner/1-Banner.png" alt="image" width="100%" height="811px">
                <div class="carousel-caption">
                    <img src="../assets/Mobile/Imagesicons/logo.png" style="width:400px; height:100px;display: block;margin-left: auto;margin-right: auto;margin-top:2%;">
                    <div style="border:1.5px solid gray;width: 100%;margin-top:4%;"> </div>

                    <div class="row">
                        <div style="color: white;margin-top: 5%; padding: 0% 0% 0% 16%;">
                            <div style="font-size:43px;font-family:Rbold;">Are you tired of</div>
                            <div style="font-size:22px; font-family:Mlight;">
                                <br>
                                <span>Looking for Domestic Help often.</span><br>
                                <span>Placement Agency exploitation and their exorbitant charges.</span> <br>
                                <span>Absenteeism, Unorganised Wage Structure, Trust, Discipline.</span><br><br> If you answered YES to any of these, You need a trusted partner.
                                <div style="margin-top:10px;text-align: center;margin-top: 15%;"><b>Download Now</b></div>
                                <div style="margin-top:10px;text-align: center;">
                                    <a href=""><img src="../assets/play store.png" style="margin-right:3%;"></a>
                                    <a href=""><img src="../assets/app store.png" style=""></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/Mobile banner/2 banner.png" alt="image" width="100%" height="811px">
                <div class="carousel-caption">
                    <img src="../assets/Mobile/Imagesicons/logo.png" style="width:400px; height:100px;display: block;margin-left: auto;margin-right: auto;margin-top:2%;">
                    <div style="border:1.5px solid gray;width: 100%;margin-top:4%; "> </div>

                    <div class="row" style="margin-left:10%;margin-right:10%;padding: 0% 0% 0% 20%;">
                        <div style="color: white;margin-top: 5%; text-align: justify; ">
                            <div style="font-size:43px;font-family:Rbold;white-space: nowrap">Domestic help need love & Care</div>
                            <div style="font-size:22px; font-family:RMlight;text-align: justify; display: inline-block;">
                                <span style=" display: inline-block;">They need dignified wages, social security & support.</span> <br>
                                <span>They need compassion & trust.</span><br>
                                <span>They need to be heard & empowered.</span><br><br>
                                <span>If you ECHO the same, You need a trusted partner.</span>

                                <div style="margin-top:10px;text-align: center;margin-top: 22%;margin-left:auto;margin-right: auto;"><b>Download Now</b></div>
                                <div style="margin-top:10px;text-align: center;margin-left:auto;margin-right: auto;">
                                    <a href=""><img src="../assets/play store.png" style="margin-right:3%;"></a>
                                    <a href=""><img src="../assets/app store.png" style=""></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/Mobile banner/3 rd banner.png" alt="image" width="100%" height="811px">
                <div class="carousel-caption">
                    <img src="../assets/Mobile/Imagesicons/logo.png" style="width:400px; height:100px;display: block;margin-left: auto;margin-right: auto;margin-top:2%;">
                    <div style="border:1.5px solid gray;width: 100%;margin-top:4%; "> </div>

                    <div class="row">
                        <div style="color: white;margin-top: 5%;text-align: justify; ">
                            <div style="font-size:43px;font-family:Rbold;text-align: center;">Your trusted partner

                            </div><br>
                            <div style="font-size:22px; font-family:Mlight;margin-left: 10%;margin-right:10%;text-align: center;">
                                MaidsnCar™ through compassion and technology will ease the problem of both Customer and Service Provider, by partnering a vision to build a NEW INDIA.
                                <br><br>
                                <div style="text-align:center;">COMING SOON</div>
                                <div style="margin-top:10px;text-align: center;margin-top: 15%;"><b>Download Now</b></div>
                                <div style="margin-top:10px;text-align: center;">
                                    <a href=""><img src="../assets/play store.png" style="margin-right:3%;"></a>
                                    <a href=""><img src="../assets/app store.png" style=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a> -->
    </div>



    <div class="row" style="margin-top:5%;padding:80px;">
        <div style="font-size:43px;font-family:Rlight;line-height: 50px;text-align: justify;">
            MaidsnCar™ is conceptualised to ease the most perennial issue of every Household - Community - Service provider. Idea envisages a smart solution with a 360 degree impact to all the stakeholders, thus creating a happy work culture and a major social impact.

            <div style="font-size:32px;font-family:Mlight;text-align: justify;margin-top:5%;line-height: 40px; color: gray;">
                Our Vision is to transform the most unorganised sector with Compassion & Technology.
            </div>
        </div>


        <br><br><br>

        <button *ngIf="false" type="button" class="btn-lg" icon="" style="color:white;  background-image: linear-gradient(to top, #ff4c01, #dd8b67);border-radius:33px;width: 250px;padding: 15px;    -webkit-appearance: caret;margin-left: auto;margin-right:auto;margin-top:5%;"><i class="fa fa-play" aria-hidden="true" style="right:20px;font-size: 14px;margin-right:4%;"></i>Learn More</button>

    </div>

    <img src="../assets/about us/mobile.png" style="width:100%; height:800px;">


    <div class="row" style="margin-top:10%;">
        <div style="font-family:Mlight;font-size: 43px;margin-left: auto;margin-right: auto;">How does it work</div>

        <div class="col-md-12" style="">
            <div style="background-color:#ffffff;height:355px; width:50%;padding:20px;text-align: center;border-radius:10px;  box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 5%;margin-left: auto;margin-right:auto;">
                <img src=" ../assets/Mobile/Imagesicons/First step.png" style="width: 200px; height:200px;">
                <div style="margin-top:25px;font-size:26px;font-family: Mlight;">First Step</div>
                <div style="color:gray;">Register your details</div>
            </div>
        </div>

        <div class="col-md-12" style="">
            <div style="background-color:#ffffff;height:355px; width:50%;padding:20px;text-align: center;border-radius:10px;  box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 5%;margin-left: auto;margin-right:auto;">
                <img src=" ../assets/Mobile/Imagesicons/Second step.png" style="width: 200px; height:200px;">
                <div style="margin-top:25px;font-size:26px;font-family: Mlight;">Second Step</div>
                <div style="color:gray;">Link your Domestic Help</div>
            </div>
        </div>

        <div class="col-md-12" style="">
            <div style="background-color:#ffffff;height:355px; width:50%;padding:20px;text-align: center;border-radius:10px;  box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 5%;margin-left: auto;margin-right:auto;">
                <img src=" ../assets/Mobile/Imagesicons/Third step.png" style="width: 200px; height:200px;">
                <div style="margin-top:25px;font-size:26px;font-family: Mlight;">Third Step</div>
                <div style="color:gray;">Define Service Category & Payment terms</div>
            </div>
        </div>
    </div>

    <div class="row" style="font-family:Mlight;font-size: 63px;padding-left: 40%;margin-top:10%;margin-bottom: 5%;">Why us</div>

    <img src="../assets/Mobile/whyus.png" style="width:90%;margin-left: 5%;margin-right: 5%;">


    <img src='../assets/Mobile/optional.png' alt="optional_features" style="width:90%; margin-left:5%;margin-right:5%;margin-top: 10%;">
    <!-- <div class="row" style="margin-top:10%;">
        <div style="font-family:Mlight;font-size: 63px;margin-left: auto;margin-right: auto;">Optional Features</div>

        <div class="col-sm-12" style="">
            <div style="background-color:#ffffff;height:400px; width:70%;padding:20px;border-radius:10px; box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 5%;margin-left:auto;margin-right:auto; padding:20px;">
                <button style="background-image: linear-gradient(to top, #ff4c01, #e07f55);border-radius:52px;border:1px solid orangered; width: 100px;height:100px;margin-top:5%; color: white; font-family: Rbold;font-size: 70px;">1</button>
                <div style="margin-top:25px;font-size:40px;font-family: Mlight;margin-left: 25%;margin-top: -15%; ">Organise Wage Structure
                    <div style="font-size:36px;color:gray;margin-top:5%;">Partner with RWA / FM to manage it </div>
                </div>

            </div>
        </div>

        <div class="col-md-12" style="">
            <div style="background-color:#ffffff;height:400px; width:70%;padding:20px;border-radius:10px; box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 10%;margin-left:auto;margin-right:auto; padding:20px;">
                <button style="background-image: linear-gradient(to top, #ff4c01, #e07f55);border-radius:52px;border:1px solid orangered; width: 100px;height:100px;margin-top:5%;color: white;font-family: Mbold; font-size: 70px; ">2</button>
                <div style="margin-top:25px;font-size:40px;font-family: Mlight;margin-left: 25%;margin-top: -15%; ">Additional Social Security
                    <div style="font-size:36px;color:gray;margin-top:5%;">You have dedicated / Live in manpower , We have a plan.</div>
                </div>

            </div>
        </div>

        <div class="col-md-12" style="">
            <div style="background-color:#ffffff;height:400px; width:70%;padding:20px;border-radius:10px; box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 10%;margin-left:auto;margin-right:auto; padding:20px;">
                <button style="background-image: linear-gradient(to top, #ff4c01, #e07f55);border-radius:52px;border:1px solid orangered; width: 100px;height:100px;margin-top:5%;color: white;font-family:Rbold;font-size: 70px; ">3</button>
                <div style="margin-top:25px;font-size:40px;font-family: Mlight;margin-left: 25%;margin-top: -15%; "> Medical Verification
                    <div style="font-size:36px;color:gray;margin-top:5%;">For Special Care , We help you meet the demand.</div>
                </div>

            </div>
        </div>
    </div> -->



    <div class="row" style="margin-top: 10%;overflow-x: hidden;position:relative;">
        <div style="color:orangered;font-size:35px;width: 100%;margin-left: auto;margin-right:auto;text-align: center;">Services</div>
        <div style="font-size:43px;font-family:Mlight;margin-bottom:3%;margin-top: 3%;margin-left: auto;margin-right: auto;text-align: center;">We help you to manage</div>
        <div style="text-align:center;font-size:32px;padding: 40px;"> </div>



        <div style="background-image: linear-gradient(to top, #ff4c01, #ebb6a0); width: 110%;height:350px;">

            <div id="view1" class="mobanimate" [style.display]="mobdisp1" [style.margin-left]="mobobj1" style="background-color:#ffffff;height:400px; width:40%;padding:20px;text-align: center;border-radius:10px;  box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 15%;position: absolute;overflow-x: hidden;">
                <img src=" ../assets/maids.png " style="width: 200px; height:200px;">
                <div style="margin-top:15%;font-size:32px;font-family: Mlight;">Maids</div>
            </div>

            <div id="view2" class="mobanimate" [style.display]="mobdisp2" [style.margin-left]="mobobj2" style="background-color:#FFFFFF;height:400px; width:40%;padding:20px;text-align: center;border-radius:10px;box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 15%;position: absolute;overflow-x: hidden;">
                <img src=" ../assets/cook.png " style="width: 200px; height:200px;">
                <div style="margin-top:15%;font-size:32px;font-family: Mlight;">Cook</div>
            </div>


            <div id="view3" class="mobanimate" [style.display]="mobdisp3" [style.margin-left]="mobobj3" style="background-color:#FFFFFF;height:400px; width:40%;padding:20px;text-align: center;border-radius:10px;box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 15%;overflow-x: hidden;position: absolute;">
                <img src=" ../assets/cleaner.png" style="width: 200px; height:200px;">
                <div style="margin-top:15%;font-size:32px;font-family: Mlight;">Cleaner</div>
            </div>


            <div id="view4" class="mobanimate" [style.display]="mobdisp4" [style.margin-left]="mobobj4" style="background-color:#FFFFFF;height:400px; width:40%;margin-top:10%;padding:20px;text-align: center;border-radius:10px;box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 15%;overflow-x: hidden;position: absolute;">
                <img src=" ../assets/child care.png" style="width: 200px; height:200px;">
                <div style="margin-top:15%;font-size:32px;font-family: Mlight;">Child Care</div>
            </div>

            <div id="view5" class="mobanimate" [style.display]="mobdisp5" [style.margin-left]="mobobj5" style="background-color:#FFFFFF;height:400px; width:40%;margin-top:10%;padding:20px;text-align: center;border-radius:10px;box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 15%;overflow-x: hidden;position: absolute;">
                <img src=" ../assets/car cleaner.png" style="width: 200px; height:200px;">
                <div style="margin-top:15%;font-size:32px;font-family: Mlight;">Car Cleaner</div>
            </div>

            <div id="view6" class="mobanimate" [style.display]="mobdisp6" [style.margin-left]="mobobj6" style="background-color:#FFFFFF;height:400px; width:40%;margin-top:10%;padding:20px;text-align: center;border-radius:10px;box-shadow: 0px 0px 0px rgba(112, 107, 107, 0.705) inset, 3px 3px 25px rgba(112, 107, 107, 0.705);margin-top: 15%;overflow-x: hidden;position: absolute;">
                <img src=" ../assets/Elder Care.png" style="width: 200px; height:200px;">
                <div style="margin-top:15%;font-size:32px;font-family: Mlight;">Elder Care</div>
            </div>

        </div>

        <div style="margin-top:30%;padding:0% 40% 0% 40%;">
            <button type="button" style="color:grey; background-color: transparent; border-color:gray !important;border-radius:51px;border:1px solid grey;width: 100px;height:100px; cursor: pointer;" (click)="mobb1Click()"><img src="../assets/arrow/arrow left.png" style="width:19px;"></button>

            <button type="button" style="color:grey;  background-image: linear-gradient(to top, #ff4c01, #e07f55);border-radius:51px;border:1px solid orangered; width: 100px;height:100px; cursor: pointer;position: absolute;margin-left: 2%;" (click)="mobb2Click()"><img src="../assets/arrow/arrow right.png" style="width: 19px;"></button>
        </div>


    </div>




    <div style="background-image:url(./assets/Mobile/Imagesicons/testimonials.png); width: 100%;height: 350px;text-align: center;color: white;margin-top:10%;">

        <div class="mobani" [style.display]="mobt1" id="mobidt1" style="font-size:25px; font-family:Rbold;padding: 50px 0px 0px 0px;">Testimonials
            <div style="font-family:Mlight; font-size: 43px;margin-top:6%;">We Have Just Arrived to create a HISTORY…….</div>
            <div *ngIf="false" style="font-family:Mlight; font-size:20px;padding:0px 20px 0px 20px;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </div>
            <div *ngIf="false" style="font-family:Rbold; font-size:16px;margin-top: 20px; ">
                -SPIROS HALIRAS
            </div>
        </div>

        <div *ngIf="false" class="mobani" [style.display]="mobt2 " id="mobidt2" style="font-size:25px; font-family:Rbold;padding: 30px 0px 0px 0px;">Test
            <div style="font-family:Mlight; font-size: 43px;">Customer Says</div>
            <div style="font-family:Mlight; font-size:20px;padding:0px 20px 0px 20px;">
                Lorem Ipsum is simply dummy text of the printidustry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem
                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            </div>
            <div style="font-family:Rbold; font-size:16px;margin-top: 20px; ">
                -SPIROS HALIRAS
            </div>
        </div>



        <div *ngIf="false" class="mobani" [style.display]="mobt3" id="mobidt3" style="font-size:25px; font-family:Rbold;padding: 30px 0px 0px 0px;">Monials
            <div style="font-family:Mlight; font-size: 43px;">Customer</div>
            <div style="font-family:Mlight; font-size:20px;padding:0px 20px 0px 20px;">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been since the 1500s.
            </div>
            <div style="font-family:Rbold; font-size:16px;margin-top: 20px; ">
                -SPIROS HALIRAS
            </div>
        </div>


        <div *ngIf="false" style=" margin-top:10%;margin-left:auto;margin-right: auto; ">
            <button [disabled]="!mobbackwardBtn " (click)="mobtestBackwardClick()" type="button " class="btn-lg " icon=" " style="color:grey; background-color: transparent; border-color:white !important;border-radius:51px;margin-right:20px;border:1px solid
                grey;width: 100px;height: 100px;cursor: pointer; "><img src="../assets/arrow/white left.png " style="width: 19px; "></button>

            <button [disabled]="!mobforwardBtn " (click)="mobtestForwardClick() " type="button " class="btn-lg " icon=" " style="color:white; background-color: white;border-radius:51px; border: 1px solid white;width: 100px;height: 100px; cursor: pointer;
                "><img src="../assets/arrow/orange right.png " style="width:19px; "></button>
        </div>


    </div>



    <div style="background-color:#18191c;width:100%;margin-top: 50%;height: 100%;">
        <div style=" width:100%;padding:5% 10% 5% 10%;margin-top: -40%;position:absolute;">
            <p-card>
                <div style="font-family:Rbold;font-size:34px;float: left;width: 100%;">
                    Contact Us
                </div>
                <div>
                    <form>
                        <div style="">

                            <select style="margin-top:10px;width: 100%;font-size:14px;padding: 10px;outline: none;border: 1px solid #d5d5d5;border-radius: 5px;background-color: white;color: #333333;">
                                <option value="Reason for Contacting">Reason for Contacting</option>
                                            <option value="a">I am looking for new Domestic Help</option>
                                            <option value="b">I have a complaint</option>
                                            <option value="c">I need a replacement</option>
                                            <option value="d">We are the RWA/Facility Management Company/ Society and want to connect with you</option>
                                            <option value="e">I am a Maid agency / Placement agency and want to have a tie up with you</option>
                                            <option value="f">Other Assistance</option>
                                          </select>

                            <input type="text " style="margin-top:10px;width: 100%;font-size:14px;padding: 10px;outline: none;border: 1px solid #d5d5d5;border-radius: 5px; margin-left: 0%;color: #333333;" formControlName="name " placeholder="Name ">

                            <input type="text " style="margin-top:10px;width: 100%;font-size:14px;padding: 10px;outline: none;border: 1px solid #d5d5d5;border-radius: 5px;color: #333333; " formControlName="email " placeholder="Email ">
                            <input type="text " style="margin-top:10px;width: 100%;font-size:14px;padding: 10px;outline: none;border: 1px solid #d5d5d5;border-radius: 5px;color: #333333; " formControlName="phoneno " placeholder="Mobile Number">

                            <select style="margin-top:10px;width: 100%;font-size:14px;padding: 10px;outline: none;border: 1px solid #d5d5d5;border-radius: 5px;background-color: white;color: #333333;">
                                        <option value="City">City</option>
                                        <option value="DELHI">DELHI</option>
                                        <option value="UP">Uttar Pradesh</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Uttrakhand">Uttrakhand</option>
                            </select>
                        </div>



                        <textarea type="text " style="margin-top:10px;width: 100%;font-size:14px;padding: 10px;outline: none;border: 1px solid #d5d5d5;border-radius: 5px; min-height: 140px;max-height: 200px; margin-left: 0%;color: #333333;" rows="6" cols="6" formControlName="message"
                            placeholder="Message "></textarea>


                        <button type="button " (click)="send()" style="margin-top:5%;width: 100%;background-image: linear-gradient(to top, #ff4c01, #e07f55);border-radius:6px;font-size: 20px; padding:10px; border:1px solid orangered;color: white;">SEND</button>
                    </form>
                </div>


            </p-card>
        </div>



        <div style="padding:30% 10% 0% 10%;color: white;">
            <div style="font-size:24px;font-family:Rbold; ">Contact Us</div>
            <div style="color:gray; font-family: Mlight;font-size: 14px;margin-top: 20px; ">

                <div style="font-size:20px;"><i class="fa fa-phone fa-rotate-45 " style="margin-right:5%; "></i>Call - 8589641201</div>
                <div style="font-size:20px;margin-top:2%;"><i class="fas fa-envelope " style="margin-right:5%; "></i>Email - Letsconnect@maidsncar.com</div>
                <div style="font-size:20px;margin-top:2%;"><span style="float:left;padding-right:5%;"><i class="fas fa-map-marker-alt " style="margin-right:5%; "></i></span><span style="display:block;overflow:hidden;">Address - Corporate Office 439,4th floor, Vipul Trade Center,Sec-48,Sohna Rd,Haryana-122018</span></div>
            </div>
        </div>


        <div class="" style="padding:5% 0% 0% 10%;color: white;">
            <div style="font-size:24px;font-family:Rbold; ">Links</div>
            <div style="color: gray;font-size: 14px;font-family: Mlight; margin-top: 20px; ">
                <div style="width:100%;font-size:20px;  text-align-last: justify;padding:0% 10% 0% 0%;">Home | About Us | Services | Testimonials | Contact Us</div>
            </div>
        </div>


        <div style="color:grey;margin-top:5%;">
            <div style="border:0.6px solid gray;width: 100%; ">

            </div>

            <div id="contact" style="font-size:24px;font-family:Rbold; margin:3% 0% 3% 10%;">Social Media :
                <i class=" fab fa-facebook-f " style=" margin-left:5%; "></i>
                <i class="fab fa-linkedin-in " style="margin-left:5%; "></i>
                <i class="fab fa-google-plus-g " style="margin-left:5%; "></i>
                <i class="fab fa-twitter " style="margin-left:5%; "></i>
            </div>

        </div>

    </div>

</div>