/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
    overflow-x: hidden !important;
    scroll-behavior: smooth !important;
}

body {
    overflow-x: hidden !important;
    margin-bottom: 0px;
}

@media only screen and (min-width: 300px) {
    div#desktop {
        display: none;
    }
    body {
        overflow-x: hidden !important;
    }
}

@media only screen and (min-width:1270px) {
    div#mobile {
        display: none;
    }
    div#desktop {
        display: block !important;
    }
}

@font-face {
    font-family: Mbold;
    src: url(./assets/fonts/Montserrat-Bold.otf) format('opentype');
}

@font-face {
    font-family: Mlight;
    src: url(./assets/fonts/Montserrat-Light.otf) format('opentype');
}

@font-face {
    font-family: Rbold;
    src: url(./assets/fonts/RobotoSlab-Bold.ttf ) format('truetype');
}

@font-face {
    font-family: Rlight;
    src: url(./assets/fonts/RobotoSlab-Regular.ttf) format('truetype');
}

body {
    margin: 0px !important;
}

.mat-tab-group {
    margin-left: 50%;
}

.mat-tab-label {
    height: 30px !important;
    padding: 0px !important;
    min-width: 90px !important;
    border-bottom: 0px !important;
    margin-top: 20px;
    font-size: 15px;
    margin-right: 20px;
    font-family: Rlight;
    letter-spacing: 1px;
}

.mat-ink-bar {
    bottom: 0 !important;
    height: 4px !important;
    background-color: rgb(241, 135, 14) !important;
    min-width: 90px !important;
    top: 0px;
}

.mat-tab-header,
.mat-tab-nav-bar {
    border-bottom: 0px !important;
}

.mat-tab-label-content {
    color: white;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button {
    color: aliceblue;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
    border: 1px solid white !important;
    min-width: 40px !important;
    border-radius: 19px !important;
}

button:focus {
    outline: none !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.fa-play:before {
    margin-right: 15px;
}

.btn-info {
    color: #fff;
    background-color: orangered;
    border-color: orangered;
}

.ui-card-body {
    box-shadow: 0px 1px 3px rgba(135, 144, 146, 0.05) inset, 0px 0px 8px rgba(214, 221, 226, 0.6);
}

.carousel-caption {
    position: absolute;
    right: 0% !important;
    bottom: 0px !important;
    left: 0%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
    top: 0px;
}

.carousel-indicators li {
    cursor: pointer;
}